* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-mid {
    width: 450px;
    height: 600px;
    background-color: #aaa;
    border: 1px solid #000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

h3 {
    margin: auto;
    width: 100%;
    text-align: center;
}

.screen {
    height: 25%;
    width: 90%;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.screen > h1 {
    text-align: right;
    margin: 10px;
}

.real-shiii {
    height: 65%;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
    column-gap: 10px;
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    width: 80px;
    height: 80px;
    margin: 2px;
    font-size: 23px;
    border-radius: 7px;
}